.fetching-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


.articles-container {
    margin-left: 8.5rem;
    transition: margin-left 0.5s ;
}
.articles-container.open{
    margin-left: 0;
}

.articles-container > * {
    margin: 0.8rem 0 0.8rem 0;
}

.articles-container a {
    color: rgb(34, 34, 34)   
}

.article-card {
    border: 1px solid  #A3DFF5;
    border-radius: 0.4rem;
    padding: 1rem;
    text-align: center;
    color: black;
    background-color: #A3DFF5;
    /* background-image: linear-gradient(to bottom right, rgba(164, 223, 245, 100), #eee); */
}

.article-card img {
    max-width: 100%;
    height: auto;
    /* width: auto\9; */
    border: 1px solid;
    border-radius: 0.4rem;
    
}

.article-card-comments {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
    margin-bottom: 0;
    font-size: smaller;
}

.article-card-votes {
    display: flex;
    background-color: #eee;
    border: 0;
    height: 2.4rem;
    border-radius: 2rem;
    color: black;
    
}
.article-card-votes img{
    width: 2rem;
    padding: 0.2rem;
    border: 0px solid;
}
.article-card-votes p {
    margin-bottom: 0;   
}
.article-card-votes input {
    padding: 0.2rem;   
}

.article-card-votes > * {
    /* margin-left: 1rem; */
    border: 0px;
}

.sort-by-dropdown {
    color: black;
    font-size: 0.9rem;
    margin-left: 3.5rem;
}

.jump-to-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.2rem;
    border-radius: 0.4rem;
    margin-left: 3.5rem;
    background-color: #99FFE0;
    ;
}

.jump-to-header a {
    margin-right: 1rem;
    color: black;
}
