.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f865b0;
    border-radius: 0.4rem;
    padding: 1rem 0 1rem 1rem;
    grid-column: 1 / 3;
    background-color: #f865b0;
}

.main-header img {
    height: 60px;
    width: 60px;
    margin-top: 1rem;
    border-radius: 50%;
}

.header-user-box {
    display: grid;
    justify-items: center;
    margin-right: 1rem;
    
}

.header-user-text {
    /* width: 20vh; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* justify-content: space-between; */
}

.header-user-text  p {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 150px;
}