.sidebar {
    position: absolute;
    top: 203px;
    left: -8.5rem;
    height: 250vh;
    width: 8.5rem;
    transition: left 0.3s ease-in-out;
    background-color: #EA7D34;
    border-radius: 0 0.4rem 0.4rem 0;
}

.sidebar-toggle {
    position: absolute;
    top: 0rem;
    right: -55px;
    height: 30px;
    width: 30px;
    z-index: 1;
    background-color:#535350ee;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.4rem;
}

.sidebar-header {
    margin-top: 3rem;
    margin-left: 1rem;
}

/* content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    background-color: lightgray;
} */
.sidebar.open {
    left: 0;
}
/* .content.open {
    left: 15vw;
} */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}