body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #535350ee;
    color: #ffff;
    
}

.grid-container {
    /* display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 120px  auto; */
}

h1 {
    font-size: xxx-large;
}

button {
    padding: 0.6rem;
    border-radius: 0.3rem;
    background-color: rgb(197, 197, 197);
    color: black
}

select {
    padding: 0.2rem;
    border-radius: 0.3rem;
}

a {
    text-decoration: none; 
    color: #eee;
}

.bold-text {
    font-weight: bold;
}

.error-text {
    color: rgb(236, 96, 96);
    font-weight: bold;
}